@model IEnumerable<InsaragSystem.Application.DTOs.AddressDTO>

@{
    ViewData["Title"] = "Address List";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Zip Code</th>
            <th>Street</th>
            <th>District</th>
            <th>City</th>
            <th>State</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var address in Model)
        {
            <tr>
                <td>@address.ZipCode</td>
                <td>@address.Street</td>
                <td>@address.District</td>
                <td>@address.City</td>
                <td>@address.State</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@address.AddressId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@address.AddressId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@address.AddressId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
